<div class="iq-gallery row iq-row{% if image_template|render is empty %} img-square{% endif %}" data-cols="{% if numcols|render is not empty %}{{numcols}}{% else %}4{% endif %}">
  {% for image in images %}
    {% if image.src %}
    <div class="iq-image col iq-column">
      <a href="{{image.src}}" data-toggle="lightbox-gallery" data-gallery="gallery" data-max-width="1920" data-title="{{image.alt}}">
        {% include '@iq_barrio/includes/responsive-image.html.twig' with {
          'image' : image.uri,
          'sizes': sizes,
          'template': image_template|render,
          'attributes' : {
            title: image.alt|render,
            alt: image.alt|render
          }
        } %}
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
