<div class="iq-gallery row iq-row" data-cols="{% if numcols|render is not empty %}{{numcols}}{% else %}4{% endif %}">
  {% for image in images %}
    {% if image.src %}
    <div class="iq-image col iq-column">
      <a href="{{image.src}}" data-toggle="lightbox-gallery" data-gallery="gallery" data-max-width="1920" data-title="{{image.alt}}"
        style="background-image: url({{image.src}});background-size: cover;display: block;">
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
