<div class="iq-gallery row iq-row">
  {% for image in images %}
  <div class="iq-image col iq-column">
    <a href="{{image.src}}" data-toggle="lightbox" data-gallery="gallery"
      data-max-width="600" data-title="{{image.alt}}"
      style="background-image: url({{image.src}});background-size: cover;display: block;">
    </a>
  </div>


  {% if loop.index is divisibleby(numcols) %}
  <div class="w-100"></div>
  {% endif %}
  {% endfor %}
</div>
