/*************** BASE DEFINITIONS ***************/
$min-viewport-width: 320px;
$max-viewport-width: 1280px;
$size-ratio: 1.25; //Settable (selection, see http://type-scale.com/, scale)

/*************** COLOR DEFINITIONS ***************/
/* Simple grey scale */
$color-darkest: #000; //Settable (selection: 000, 000001, 000100, 010000)
$color-darker: lighten($color-darkest, 20);
$color-dark: lighten($color-darkest, 40);
$color-medium: lighten($color-darkest, 50);
$color-light: lighten($color-darkest, 60);
$color-lighter: lighten($color-darkest, 80);
$color-lightest: lighten($color-darkest, 100);

/* Base colors */
$color-background-page: #fff; //Settable (value)

/* Content text colors */
$color-text-titles: #004279; //Settable (value)
$color-text-content:#004279; //Settable (value)
$color-text-links: #004279; //Settable (value)
$color-text-icons: #004279; //Settable (value)

/* Elements colors normal state (e.g. button) */
$color-text-elements: #fff; //Settable (value)
$color-background-elements: #004279; //Settable (value)
$color-border-elements: #004279; //Settable (value)

/* Elements colors hover state (e.g. button) */
$color-text-elements-hover: #004279; //Settable (value)
$color-background-elements-hover: none; //Settable (value)
$color-border-elements-hover: #004279; //Settable (value)

/* Elements colors active state (e.g. button) */
$color-text-elements-active: $color-text-elements-hover;
$color-background-elements-active: $color-background-elements-hover;
$color-border-elements-active: $color-border-elements-hover;

$color-background-header: #fff;
$color-background-content: #fff;
$color-background-footer: rgb(254, 204, 0);
$color-font-header:#004279;
$color-font-footer:#004279;


/*************** FONT DEFINITIONS ***************/
/* Font families */
$font-family-titles: Arial, sans-serif; //Settable (selection)
$font-family-content: Arial, sans-serif; //Settable (selection)

/* Font Sizes */
$font-size-base: 16px; //Settable (value)
$font-size-h6: $font-size-base;
$font-size-h5: $font-size-h6 * $size-ratio;
$font-size-h4: $font-size-h5 * $size-ratio;
$font-size-h3: $font-size-h4 * $size-ratio;
$font-size-h2: $font-size-h3 * $size-ratio;
$font-size-h1: $font-size-h2 * $size-ratio;
$font-size-small: $font-size-base / $size-ratio;

$font-weight-h6: bold;
$font-weight-h5:normal;
$font-weight-h4:normal;
$font-weight-h3:normal;
$font-weight-h2:normal;
$font-weight-h1:normal;

// Helper function
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// Fluid typography
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}


/*************** MARGIN DEFINITIONS ***************/
$margin-base: 10px; //Settable (value)
$margin-top-base: $margin-base * 2;
$margin-bottom-base: $margin-base * 2;

/* Template paddings */
$padding-base:20px;
$padding-top-base: $padding-base; //Settable (value)
$padding-bottom-base: $padding-base;
$padding-field-default: 5px 20px;

/* Title margins */
$margin-top-h6:0px;
$margin-top-h5:0px;
$margin-top-h4:0px;
$margin-top-h3:0px;
$margin-top-h2:0px;
$margin-top-h1:0px;

$margin-bottom-h6:10px;
$margin-bottom-h5:10px;
$margin-bottom-h4:10px;
$margin-bottom-h3:$margin-base * $size-ratio;
$margin-bottom-h2:$margin-base * $size-ratio;
$margin-bottom-h1:$margin-base * $size-ratio;

/*************** BORDER DEFINITIONS ***************/
$border-radius-base: 0%; //Settable (value, 0-50%)
$border-width-base: 1px; //Settable (value, 1-10px)

/*************** OTHER DEFINITIONS ***************/
$transition-default: all 0.2s ease;
