/*************** BASE DEFINITIONS ***************/
$min-viewport-width:                  320px;
$max-viewport-width:                  1280px;
$size-ratio:                          1.25; //Settable (selection, see http://type-scale.com/, scale)

/*************** COLOR DEFINITIONS ***************/
$color-black:                         #000;
$color-white:                         #fff;
$color-grey1:                         #333333;
$color-grey2:                         #666666;
$color-grey3:                         #999999;
$color-grey4:                         #cccccc;
$color-grey5:                         #eeeeee;
$color-primary:                       #e95e27;
$color-secondary:                     #009c82;
$color-tertiary:                      #9c360d;
$color-quaternary:                    #27e9c9;

/* Base colors */
$color-background-page:               $color-white;

$color-background-header:             $color-grey5;
$color-font-header:                   $color-grey3;

$color-background-footer:             $color-black;
$color-font-footer:                   $color-white;



/*************** FONT DEFINITIONS ***************/

/* Headings */
$font-size-h1:                        2.5rem;
$line-height-h1:                      1.2;
$font-weight-h1:                      700;
$color-h1:                            $color-primary;
$font-family-h1:                      'Open Sans', sans-serif;
$margin-top-h1:                       2.5rem;
$margin-bottom-h1:                    1.25rem;

$font-size-h2:                        2rem;
$line-height-h2:                      1.2;
$font-weight-h2:                      400;
$color-h2:                            $color-secondary;
$font-family-h2:                      'Open Sans', sans-serif;
$margin-top-h2:                       2rem;
$margin-bottom-h2:                    1rem;

$font-size-h3:                        1.75rem;
$line-height-h3:                      1.2;
$font-weight-h3:                      900;
$color-h3:                            $color-tertiary;
$font-family-h3:                      'Open Sans', sans-serif;
$margin-top-h3:                       1.75rem;
$margin-bottom-h3:                    0.875rem;

$font-size-h4:                        1.5rem;
$line-height-h4:                      1.2;
$font-weight-h4:                      100;
$color-h4:                            $color-quaternary;
$font-family-h4:                      'Open Sans', sans-serif;
$margin-top-h4:                       1.5rem;
$margin-bottom-h4:                    0.75rem;

$font-size-h5:                        1.25rem;
$line-height-h5:                      1.2;
$font-weight-h5:                      100;
$color-h5:                            $color-grey3;
$font-family-h5:                      'Open Sans', sans-serif;
$margin-top-h5:                       1.25rem;
$margin-bottom-h5:                    0.625rem;

$font-size-h6:                        1rem;
$line-height-h6:                      1.2;
$font-weight-h6:                      100;
$color-h6:                            $color-black;
$font-family-h6:                      'Open Sans', sans-serif;
$margin-top-h6:                       1rem;
$margin-bottom-h6:                    0.5rem;


/* Content */
$font-size-standard:                      1rem;
$line-height-standard:                    1.5;
$font-weight-standard:                    100;
$color-standard:                          $color-grey3;
$font-family-standard:                    'Open Sans', sans-serif;
$margin-top-standard:                 1rem;
$margin-bottom-standard:              0.5rem;

$color-link:                         $color-primary;
$color-link-hover:                   $color-primary;
$text-decoration-link:                underline;
$text-decoration-link-hover:          underline dotted;

$font-size-small:                     0.75rem;
$line-height-small:                   1.2;
$font-weight-small:                   100;
$color-small:                         $color-grey3;
$font-family-small:                   'Open Sans', sans-serif;
$margin-top-small:                    1rem;
$margin-bottom-small:                 0.5rem;

$font-size-lead:                      1rem;
$line-height-lead:                    1.5;
$font-weight-lead:                    700;
$color-lead:                          $color-grey3;
$font-family-lead:                    'Open Sans', sans-serif;
$margin-top-lead:                     1rem;
$margin-bottom-lead:                  0.5rem;

$font-size-buttons:                   16px;
$line-height-buttons:                 1.5;
$font-weight-buttons:                 700;
$font-family-buttons:                 'Open Sans', sans-serif;
$margin-buttons:                      10px 10px 10px 10px;
$padding-buttons:                     5px 20px 5px 20px;
$font-color-buttons:                  $color-white;
$background-color-buttons:            $color-primary;
$border-color-buttons:                $color-black;
$font-color-hover-buttons:            $color-white;
$background-color-hover-buttons:      $color-secondary;
$border-color-hover-buttons:          $color-black;
$font-color-active-buttons:           $color-white;
$background-color-active-buttons:     $color-tertiary;
$border-color-active-buttons:         $color-black;



/* Margins &  paddings */
$base-margin-top:                     30px;
$base-margin-bottom:                  30px;
$base-margin-left:                    30px;
$base-margin-right:                   30px;
$base-margin:                         $base-margin-top $base-margin-right $base-margin-bottom $base-margin-left;

$base-padding-top:                    30px;
$base-padding-bottom:                 30px;
$base-padding-left:                   30px;
$base-padding-right:                  30px;
$base-padding:                        $base-padding-top $base-padding-right $base-padding-bottom $base-padding-left;


$padding-field-default: 5px 20px;

// Helper function
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// Fluid typography
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

/* Title margins */


/*************** BORDER DEFINITIONS ***************/
$border-radius-base:  15%; //Settable (value, 0-50%)
$border-width-base:   5px; //Settable (value, 1-10px)
$border-color-base:   $color-tertiary;

/*************** OTHER DEFINITIONS ***************/
$transition-default: all 0.2s ease;







/* Legacy variables */
$color-darkest:                       $color-black;
$color-darker:                        $color-grey1;
$color-dark:                          $color-grey2;
$color-medium:                        $color-grey3;
$color-light:                         $color-grey4;
$color-lighter:                       $color-grey5;
$color-lightest:                      $color-white;

$margin-top-base:                     $base-margin-top;
$margin-bottom-base:                  $base-margin-bottom;
$margin-left-base:                    $base-margin-left;
$margin-right-base:                   $base-margin-right;
$margin-base:                         $margin-bottom-base;

$padding-top-base:                    $base-padding-top;
$padding-bottom-base:                 $base-padding-bottom;
$padding-left-base:                   $base-padding-left;
$padding-right-base:                  $base-padding-right;
$padding-base:                        $padding-bottom-base;

/* Content text colors */
$color-text-titles:                   $color-primary;
$color-text-content:                  $color-grey3;
$color-text-links:                    $color-primary;
$color-text-icons:                    $color-primary;

/* Elements colors normal state (e.g. button) */
$color-text-elements:                 $font-color-buttons; //Settable (value)
$color-background-elements:           $background-color-buttons; //Settable (value)
$color-border-elements:               $border-color-buttons; //Settable (value)

/* Elements colors hover state (e.g. button) */
$color-text-elements-hover:           $font-color-hover-buttons; //Settable (value)
$color-background-elements-hover:     $background-color-hover-buttons; //Settable (value)
$color-border-elements-hover:         $border-color-hover-buttons;; //Settable (value)

/* Elements colors active state (e.g. button) */
$color-text-elements-active:          $font-color-active-buttons;
$color-background-elements-active:    $background-color-active-buttons;
$color-border-elements-active:        $border-color-active-buttons;;

$color-background-content:            $color-background-page;

$font-size-base:                      $font-size-standard;
$line-height-base:                    $line-height-standard;
$font-weight-base:                    $font-weight-standard;
$color-base:                          $color-standard;
$font-family-base:                    $font-family-standard;

$font-family-titles:                  $font-family-h1; 
$font-family-content:                 $font-family-base; 