@import "definitions";

#iq-barrio-source,
#iq-barrio-target {
  display: none;
}

.container-inline {
  position: relative;
  padding-top: calc(16px + 0.2em);
  margin: 0.75em 0;

  .form-item {
    margin-top: 0;
    margin-bottom: 0;

    label {
      display: block;
      position: absolute;
      bottom: calc( 100% - 20px);
    }

    input.form-text {
      width: 32px;
      padding-right: 0;
      padding-left: 0.25rem;
    }

    select {
      width: 57px;
    }
  }
}

.styling-row {
  display: flex;
  width: 100%;
  margin-bottom: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #ccc;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .styling-input {
    width: 700px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;

    &.full {
      width: 100%;
    }

    .inline-input-holder {
      margin-right: 30px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &.separator {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }

      span {
        display: block;
        font-weight: bold;
      }

      strong {
        display: block;
        font-size: 115%;
      }


      >* {
        display: inline-block;

        &.separator {
          margin-right: 30px;
        }

        label {
          white-space: nowrap;
        }

        input {
          max-width: 75px;

          &.separator {
            margin-right: 30px;
          }
        }

        select {
          &.separator {
            margin-right: 30px;
          }
        }
      }
    }

    >.seven-details {
      margin-right: 30px;

      .seven-details__wrapper {
        padding-right: 0;
      }
    }
  }

  .styling-preview {
    width: calc(100% - 485px);
    border: 1px solid #eee;
    padding: 10px;
    background-color: #fff;
    position: relative;

    &:before {
      content: 'Preview';
      font-size: 10px;
      display: block;
      position: absolute;
      top: -15px;
      left: 0;
    }
  }
}

.unit-combo-field {
  label {
    display: block !important;
  }

  input[type="text"] {
    width: 75px;
  }
}

form.system-theme-settings[action*="iq_barrio"] {
  > h2,
  #edit-theme-settings,
  #edit-logo,
  #edit-favicon,
  > .js-form-item.form-no-label {
    display: none !important;
  }
}

div[aria-describedby="frontend-publishing-unpublish-modal"],
div[aria-describedby="frontend-publishing-publish-modal"] {
  .ui-dialog-titlebar-close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "\00d7";
      position: relative;
      max-height: 20px;
      display: flex;
      align-items: center;
      font-size: 24px;
      overflow: hidden;
    }
  }
}