@import "definitions";


.container-inline{
  position: relative;
  padding-top: calc( 16px + 0.2em );
  margin: 0.75em 0;
  .form-item{
    margin-top: 0;
    margin-bottom: 0;
    label{
      display: block;
      position: absolute;
      top: 0;
    }
    input.form-text{
<<<<<<< HEAD
      width:32px;
      padding-right: 0;
      padding-left: 0.25rem;
    }
    select{
      width: 57px;
=======
      width:60px;
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
    }
  }
}

.styling-row{
  display: flex;
  width: 100%;
  margin-bottom: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #ccc;

  &:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .styling-input{
    width: 460px;
    display: flex;
    flex-flow: wrap;
    > div{
      display: inline;
      padding-right: 30px;
      width: 200px;
<<<<<<< HEAD

=======
      
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
      &.line-break{
        height: 1px;
        width: 100%;
      }
    }
  }

  .styling-preview{
    width: calc( 100% - 485px );
    border: 1px solid #eee;
    padding: 10px;
    background-color: #fff;
    position: relative;



    &:before{
      content: 'Preview';
      font-size: 10px;
      display: block;
      position: absolute;
      top: -15px;
      left: 0;
    }
  }
}

.unit-combo-field{
  label{
    display: block !important;
  }
  input[type="text"]{
    width: 75px;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
