@import "definitions";

.container-fluid {
  padding-left: 0;
  padding-right: 0;

  .iq-row {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: $base-padding-top;
    padding-bottom: $base-padding-bottom;

    &.fullwidth {
      max-width: none;
      margin-left: -15px;
      margin-right: -15px;

      >.iq-column:first-of-type {
        padding-left: 0;
      }

      >.iq-column:last-of-type {
        padding-right: 0;
      }
    }


    &.fullwidth-small {
      @media only screen and (max-width: 767px) {
        max-width: none;
        margin-left: -15px;
        margin-right: -15px;

        >.iq-column {
          padding-left: 0;
          padding-right: 0;
          > .iq-row.fullwidth-small{
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }


    &.fullwidth-medium {
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: none;
        margin-left: -15px;
        margin-right: -15px;

        >.iq-column:first-of-type {
          padding-left: 0;
          > .iq-row.fullwidth-medium{
            margin-left: 0;
          }
        }

        >.iq-column:last-of-type {
          padding-right: 0;
          > .iq-row.fullwidth-medium{
            margin-right: 0;
          }
        }
      }
    }

    &.fullwidth-large {
      @media only screen and (min-width: 1200px) {
        max-width: none;
        margin-left: -15px;
        margin-right: -15px;

        >.iq-column:first-of-type {
          padding-left: 0;
          > .iq-row.fullwidth-large{
            margin-left: 0;
          }
        }

        >.iq-column:last-of-type {
          padding-right: 0;
          > .iq-row.fullwidth-large{
            margin-right: 0;
          }
        }
      }
    }

    // &.nogutter {
    //   > .iq-column {
    //     padding-left: 0;
    //     padding-right: 0;
    //   }
    // }

    // &.nogutter-small {
    //   > .iq-column {
    //     @media only screen and (max-width: 767px) {
    //       padding-left: 0;
    //       padding-right: 0;
    //     }
    //   }
    // }

    // &.nogutter-medium {
    //   > .iq-column {
    //     @media only screen and (min-width: 768px) and (max-width: 1199px) {
    //       padding-left: 0;
    //       padding-right: 0;
    //     }
    //   }
    // }

    // &.nogutter-large {
    //   > .iq-column {
    //     @media only screen and (min-width: 1200px) {
    //       padding-left: 0;
    //       padding-right: 0;
    //     }
    //   }
    // }
  }
}




/*


.hidden {
  display: none;
}



@media only screen and (max-width: 767px) {
  .hidden-small {
    display: none;
    &[data-gjs-type] {
      display: inherit;
      opacity: 0.2;
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .hidden-medium {
    display: none;
    &[data-gjs-type] {
      display: inherit;
      opacity: 0.2;
    }
  }
}


@media only screen and (min-width: 1200px) {
  .hidden-large {
    display: none;
    &[data-gjs-type] {
      display: inherit;
      opacity: 0.2;
    }
  }
}



.page-top-header {
  .block-pagedesigner-part {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.menu--main {
  ul {
    flex-direction: row;

    li {
      margin-right: $base-margin-right;
    }
  }
}

*/
