@import "definitions";

.nav-main {
  &.nav-right {
    >ul {
      justify-content: flex-end;

      >li {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  >ul {
    flex-direction: row;

    >li {
      margin: $navi-main-margin;

      &:first-child {
        margin-left: 0;
      }

      a {
        font-family: $navi-main-font-family;
        font-weight: $navi-main-font-weight;
        line-height: $navi-main-line-height;
        font-size: $navi-main-font-size;
        padding: $navi-main-padding;

        text-decoration: none;

        &.nav-link {
          padding: $navi-main-padding;
        }
      }

      >a {
        background-color: $color-background-navbar;
        color: $color-font-navbar;
      }

      &.active,
      &:active {
        > a {
          background-color: $color-background-navbar-active;
          color: $color-font-navbar-active;
          text-decoration: none;
        }
      }

      &:hover,
      &.active:hover {
        > a {
          background-color: $color-background-navbar-hover;
          color: $color-font-navbar-hover;
          text-decoration: none;
        }
      }

    }
  }

  .dropdown-menu {
    padding: 0;
    margin: 0;
    border: $border-base;
    border-radius: $border-radius-base;

    position: absolute;
    top: 100%;

    >li {
      background-color: $color-background-nav-dropdown;
      padding: 0;
      text-decoration: none;

      > a{
        display: block;
        color: $color-font-nav-dropdown;
        padding-top: $base-padding-top / 2;
        padding-bottom: $base-padding-bottom / 2;
        padding-left: $base-padding-left / 2;
        padding-right: $base-padding-right / 2;
      }


      &:hover,
      &.active:hover {
        background-color: $color-background-nav-dropdown-hover;
        >a {
          color: $color-font-nav-dropdown-hover;
          text-decoration: none;
        }
      }

      &.active,
      &:active {
        background-color: $color-background-nav-dropdown-active;
        >a {
          color: $color-font-nav-dropdown-active;
          text-decoration: none;
        }
      }
    }
  }
}

.nav-sub {
  &.nav-right {
    >ul {
      text-align: right;

      .dropdown-item {
        text-align: right;
        font-weight: inherit;
      }
    }
  }

  .navbar-nav {

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      position: relative !important;
      transform: none !important;
      display: block;
      background: transparent;
      margin: 0;
      padding: 0;
      border: none;

      .dropdown-item {

        &:hover,
        &:focus,
        &:active,
        &.active {
          background: transparent;
          font-weight: inherit;
        }
      }

    }
  }

  a {
    text-decoration: none;
    color: $color-font-nav-sidebar;

    &:hover {
      color: $color-font-nav-sidebar-hover;
      text-decoration: none;
    }
  }
}


.nav-mobile {

  .navbar-nav {

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      position: relative !important;
      transform: none !important;
      display: block;
      background: transparent;
      margin: 0;
      padding: 0;
      border: none;

      .dropdown-item {

        &:hover,
        &:focus,
        &:active,
        &.active {
          background: transparent;
          font-weight: inherit;
        }
      }

    }
  }


  a {
    color: $color-font-nav-mobile;
    text-decoration: none;

    &:hover {
      color: $color-font-nav-mobile-hover;
      text-decoration: none;
    }
  }
}

.container-fluid .iq-row.nav-mobile-holder {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 15px 0 0;
  background-color: $color-background-nav-mobile;
  z-index: 10;
}

.container-fluid[data-gjs-type="container"] .iq-row.nav-mobile-holder {
  &[data-gjs-type] {
    position: relative;
    display: block;
  }
}
