// /* Views (definitions for views -> views.sass) */

@import "definitions";

.view {
  .view-content {
    .table-responsive {
      .views-table {
        thead th {
          color: $color-standard;
          background-color: $color-grey5;
          border-color: $color-grey4;
        }

        tbody td {
          color: $color-standard;
          background-color: $color-background-page;
          border-color: $color-grey4;
        }
      }
    }

  }

  >nav {
    .page-link {
      color: $color-primary;
      border-radius: 0;
    }
  }
}
