// Import Barrio definitions for most variables
@import "../../../../iq_barrio/resources/sass/definitions";

.iq-modal{

  &[data-gjs-type] {
    > input{
      display: none;
      &:checked{
        + label {
          position: fixed;
          left: 30px;
          top: 30px;
          z-index: 2002;
          transform: none;
          &::after{
            content: "ausblenden ×";
          }
          + .iq-modal__overlay{
            display: block;
            position: fixed !important;
            z-index: 2000;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            + .iq-modal__overlay__content{
              display: block;
              margin: 0;
              position: fixed !important;
              top: 50%;
              left: 50%;
              width: calc(100vw - 60px);
              max-height: calc(100vh - 60px);
              transform: translate(-50%, -50%);
              z-index: 2001;
              padding-top: 30px;
              padding-bottom: 30px;
              overflow-y: auto;
            }
          }
        }
      }
    }
    label{
      padding: 7px 15px;
      border: 2px solid #000;
      color: #000;
      background-color: #fff;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      &::before{
        content: "Modal\00A0";
      }
      &::after{
        content: "anzeigen"
      }
    }
    [data-open-modal],
    .iq-modal__overlay,
    .iq-modal__overlay__close,
    .iq-modal__overlay__content{
      display: none;
    }
  }

  &__overlay{
    background-color: rgba($color-black, 0.8);
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    &.active{
      display: block;
    }

    &__content.col{
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100vw - 60px);
      background-color: $color-white;
      transform: translate(-50%, -50%);
      z-index: 2001;
      padding-top: 60px;
      padding-bottom: 15px;
      max-width: 1140px;
      .wrapper{
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        .inner{
          overflow: hidden;
        }
      }
    }
    &__close{
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      line-height: 1;
      color: $color-standard;
      padding: 0;
      &:active,
      &:hover,
      &:focus{
        outline: none;
      }
      > i[class=""] {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        &::before{
          content: "";
          width: 100%;
          height: 2px;
          background-color: $color-standard;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          position: absolute;
        }
        &::after{
          content: "";
          width: 2px;
          height: 100%;
          background-color: $color-standard;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          display: block;
          position: absolute;
        }
      }
    }
  }

  .iq-button{
    cursor: pointer;
  }

  &.overlay-background-color-{
    &primary .iq-modal__overlay{
      background-color: rgba($color-primary, 0.8);
    }
    &secondary .iq-modal__overlay{
      background-color: rgba($color-secondary, 0.8);
    }
    &tertiary .iq-modal__overlay{
      background-color: rgba($color-tertiary, 0.8);
    }
    &quaternary .iq-modal__overlay{
      background-color: rgba($color-quaternary, 0.8);
    }
    &grey1 .iq-modal__overlay{
      background-color: rgba($color-grey1, 0.8);
    }
    &grey2 .iq-modal__overlay{
      background-color: rgba($color-grey2, 0.8);
    }
    &grey3 .iq-modal__overlay{
      background-color: rgba($color-grey3, 0.8);
    }
    &grey4 .iq-modal__overlay{
      background-color: rgba($color-grey4, 0.8);
    }
    &grey5 .iq-modal__overlay{
      background-color: rgba($color-grey5, 0.8);
    }
    &black .iq-modal__overlay{
      background-color: rgba($color-black, 0.8);
    }
    &white .iq-modal__overlay{
      background-color: rgba($color-white, 0.8);
    }
  }

  &.overlay-content-width-{
    &full .iq-modal__overlay__content{
      max-width: none;
    }
    &content .iq-modal__overlay__content{
      max-width: 1140px;
    }
    &small .iq-modal__overlay__content{
      max-width: 600px;
    }
  }

  &.overlay-content-background-color-{
    &primary .iq-modal__overlay__content{
      background-color: $color-primary;
    }
    &secondary .iq-modal__overlay__content{
      background-color: $color-secondary;
    }
    &tertiary .iq-modal__overlay__content{
      background-color: $color-tertiary;
    }
    &quaternary .iq-modal__overlay__content{
      background-color: $color-quaternary;
    }
    &grey1 .iq-modal__overlay__content{
      background-color: $color-grey1;
    }
    &grey2 .iq-modal__overlay__content{
      background-color: $color-grey2;
    }
    &grey3 .iq-modal__overlay__content{
      background-color: $color-grey3;
    }
    &grey4 .iq-modal__overlay__content{
      background-color: $color-grey4;
    }
    &grey5 .iq-modal__overlay__content{
      background-color: $color-grey5;
    }
    &black .iq-modal__overlay__content{
      background-color: $color-black;
    }
    &white .iq-modal__overlay__content{
      background-color: $color-white;
    }
  }

  &.overlay-content-font-color-{
    &primary .iq-modal__overlay__content *{
      color: $color-primary;
    }
    &secondary .iq-modal__overlay__content *{
      color: $color-secondary;
    }
    &tertiary .iq-modal__overlay__content *{
      color: $color-tertiary;
    }
    &quaternary .iq-modal__overlay__content *{
      color: $color-quaternary;
    }
    &grey1 .iq-modal__overlay__content *{
      color: $color-grey1;
    }
    &grey2 .iq-modal__overlay__content *{
      color: $color-grey2;
    }
    &grey3 .iq-modal__overlay__content *{
      color: $color-grey3;
    }
    &grey4 .iq-modal__overlay__content *{
      color: $color-grey4;
    }
    &grey5 .iq-modal__overlay__content *{
      color: $color-grey5;
    }
    &black .iq-modal__overlay__content *{
      color: $color-black;
    }
    &white .iq-modal__overlay__content *{
      color: $color-white;
    }
  }
}

.pd-live .iq-modal[data-initialized="false"] {
  > [data-pd-editmode-toggle-modal],
  > [class*="iq-modal__"] {
    display: none;
  }
}
