<div class="iq-modal">
  <input type="checkbox" data-toggle-modal {{ id }} />
  <div class="iq-modal__overlay col iq-column">{{column0}}</div>
  <div class="iq-modal__overlay__background"></div>
</div>

