<div class="iq-trust-element">
    {% if icon %}
    <div class="iq-trust-element-icon" data-iq-alternate-group="symbol" data-iq-alternate-label="Symbol" data-iq-label="Icon">
        <i class="fa {{icon}}"></i>
    </div>
    {% else %}
    <div class="iq-trust-element-icon iq-trust-element-number iq-alternate-hide" data-iq-alternate-group="symbol" data-iq-alternate-label="Text"
        data-iq-label="Left text">
        <span>{{text}}</span>
    </div>
    {% endif %}
    <div class="iq-trust-element-text iq-text">
        {{content}}
    </div>
</div>
