<div class="iq-anchornavigation" data-position="{{position}}" data-align="{{alignment}}">
  <div class="wrapper" data-anchornavigation data-icon="{{icon}}" data-icon-position="{{icon_position}}"></div>
</div>
