<div class="iq-anchornavigation" data-position="{{position}}" data-align="{{alignment}}">
  <div class="wrapper" data-anchornavigation data-icon="{{icon}}" data-icon-position="{{icon_position}}">
    <a><span>Anchor 1</span><i class="fas fa-chevron-right"></i></a>
    <a><span>Anchor 2</span><i class="fas fa-chevron-right"></i></a>
    <a><span>Anchor 3</span><i class="fas fa-chevron-right"></i></a>
    <a><span>Anchor 4</span><i class="fas fa-chevron-right"></i></a>
  </div>
</div>
