<div class="iq-youtube" >
    <div class="wrapper" data-aspect-ratio="{{ratio}}">
        <iframe class="videoplayer" src="{{url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
