@import "../../../../iq_barrio/resources/sass/definitions";

.iq-slidergallery.owl-carousel {
  position: relative;
  margin: 0 -15px;
  width: calc( 100% + 30px );
  .owl-nav {
    button{
      outline: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      &.owl-prev {
        left: 30px;
      }

      &.owl-next {
        right: 30px;
      }

      i{
        padding: 20px;
        background: $slider-arrow-backgroundcolor;
        color: $slider-arrow-color;
        font-size: $slider-arrow-font-size;
      }
    }
  }

  .owl-stage{
    display: flex;
    &[data-gjs-type]{
      transform: none !important;
    }
    .owl-item{
      flex-shrink: 0;
      &[data-gjs-type]{
        display: none;
        &.active{
          display: block;
        }
      }
      > div{
        height: 100%;
        a{
          height: 100%;
          position: relative;
          display: block;
          &::before{
            position: absolute;
            bottom: 0;
            padding: 18px;
            font-size: 14px;
            color: $color-white;
            font-weight: 200;
          }
          &::before{
            content: attr(data-title);
            width: 100%;
            left: 0;
            background: rgba($color-black, 0.24);
          }
          img{
            height: 100%;
            object-fit: cover;
            &[data-gjs-type]{
              height: auto;
            }
          }
        }
      }
    }
  }

  &[data-gjs-type="gallery_slider"]{
    display: flex;
    img{
      width: 100%;
    }
    &[numcols="1"]{
      .col{
        max-width: 100%;
        &:nth-child(n+2){
          display: none;
        }
      }
    }
    &[numcols="2"]{
      .col{
        max-width: 50%;
        &:nth-child(n+3){
          display: none;
        }
      }
    }
    &[numcols="3"]{
      .col{
        max-width: 33%;
        &:nth-child(n+4){
          display: none;
        }
      }
    }
    &[numcols="4"]{
      .col{
        max-width: 25%;
        &:nth-child(n+5){
          display: none;
        }
      }
    }
    &[numcols="5"]{
      .col{
        max-width: 20%;
        &:nth-child(n+6){
          display: none;
        }
      }
    }

    .owl-item{
      .col{
        max-width: 100% !important;
        display: block !important;
      }
    }


  }
}
