// Font definitions

@mixin font-standard {
  font-size: $font-size-standard;
  line-height: $line-height-standard;
  font-weight: $font-weight-standard;
  font-style: $font-style-standard;
  font-family: $font-family-standard;
  color: $color-standard;
  @include fluid-type(320px, 991px, $font-size-min-standard, $font-size-standard);
}
