/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Simple grey scale */
/* Base colors */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/*************** FONT DEFINITIONS ***************/
/* Font families */
/* Font Sizes */
/*************** MARGIN DEFINITIONS ***************/
/* Template paddings */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Breadcrumb */
/* line 3, ../sass/breadcrumbs.scss */
.breadcrumb {
  background: none;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}
/* line 9, ../sass/breadcrumbs.scss */
.breadcrumb li a {
  color: #004279;
}
/* line 12, ../sass/breadcrumbs.scss */
.breadcrumb li a:hover {
  color: #004279;
}
/* line 15, ../sass/breadcrumbs.scss */
.breadcrumb li:last-child a {
  color: #004279;
}
/* line 18, ../sass/breadcrumbs.scss */
.breadcrumb li:before {
  content: "\f061";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #004279;
  font-size: 0.6em;
  vertical-align: bottom;
}

/* line 32, ../sass/breadcrumbs.scss */
.iqpt-landingpage .region-breadcrumb {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 36, ../sass/breadcrumbs.scss */
.iqpt-landingpage .breadcrumb {
  margin-bottom: 0;
}
