<<<<<<< HEAD
=======
/* ---------- Color Module Styles ----------- */
/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Simple grey scale */
/* Base colors */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/*************** FONT DEFINITIONS ***************/
/* Global settings */
/* Headings */
/* Content */
/* Margins &  paddings */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
/* line 4, ../sass/colors.scss */
body {
  color: #999999;
  background: #fff;
}

/* line 9, ../sass/colors.scss */
.site-footer {
  background: #eeeeee;
  background-image: url("/de/media/69");
}

/* line 14, ../sass/colors.scss */
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

/* line 21, ../sass/colors.scss */
.tabs ul.primary li a.is-active {
  background-color: #fff;
}

/* line 25, ../sass/colors.scss */
.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

/* line 30, ../sass/colors.scss */
#navbar-top {
  background-color: #fff;
}

/* line 34, ../sass/colors.scss */
#navbar-main {
  background-color: #fff;
}

/* line 38, ../sass/colors.scss */
a,
.link,
a:active,
.link:active,
a:focus,
.link:focus,
a:visited,
.link:visited {
  color: #e95e27;
}

/* line 49, ../sass/colors.scss */
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #e95e27;
}

/* line 56, ../sass/colors.scss */
a:active,
.link:active {
  color: #e95e27;
}
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
