/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Base colors */
/*************** FONT DEFINITIONS ***************/
<<<<<<< HEAD
=======
/* Global settings */
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
/* Headings */
/* Content */
/* Margins &  paddings */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
<<<<<<< HEAD
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/* line 8, ../sass/footer.scss */
footer.site-footer .block {
=======
/* line 3, ../sass/footer.scss */
footer {
  color: #fff;
  background: #fff;
  font-size: 1.5rem;
  padding: 30px 0 30px;
}
/* line 9, ../sass/footer.scss */
footer .iqbm-text h4 {
  color: #999999;
  font-size: 1.5rem;
}
/* line 13, ../sass/footer.scss */
footer .iqbm-text a {
  color: #999999;
}
/* line 15, ../sass/footer.scss */
footer .iqbm-text a:visited {
  color: #dbdbdb;
}
/* line 19, ../sass/footer.scss */
footer .iqbm-text ul {
  margin: 0;
  list-style: none;
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
  padding: 0;
  border: none;
  margin: 0;
}
<<<<<<< HEAD

/* line 15, ../sass/footer.scss */
.site-footer {
  color: #fff;
  background: #000;
  padding: 30px 0 30px;
  font-family: inherit;
}
/* line 20, ../sass/footer.scss */
.site-footer * {
  color: #fff;
=======
/* line 23, ../sass/footer.scss */
footer .iqbm-text ul li:before {
  content: "\f101";
  font-family: "FontAwesome";
  padding-right: 5px;
  color: #00829d;
}
/* line 31, ../sass/footer.scss */
footer a {
  color: #e95e27;
}
/* line 33, ../sass/footer.scss */
footer a:visited {
  color: #e95e27;
}
/* line 36, ../sass/footer.scss */
footer a:hover {
  color: #e95e27;
  text-decoration: none;
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
}
