/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Base colors */
/*************** FONT DEFINITIONS ***************/
/* Headings */
/* Content */
/* Margins &  paddings */
/*************** PATTERN SETTINGS ***************/
/* Slider */
/* Quote */
/* Social */
/* Tabs */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/* line 11, ../sass/footer.scss */
footer.site-footer {
  color: #999999;
  background: #fff;
  padding: 30px 0 30px;
  font-family: inherit;
}
/* line 19, ../sass/footer.scss */
footer.site-footer .site-footer__top .block {
  padding: 0;
  border: none;
  margin: 0;
}
/* line 27, ../sass/footer.scss */
footer.site-footer .site-footer__top .content * {
  color: #999999;
}
