/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Simple grey scale */
/* Base colors */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/*************** FONT DEFINITIONS ***************/
/* Global settings */
/* Headings */
/* Content */
/* Margins &  paddings */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
/* line 3, ../sass/footer.scss */
footer {
  color: #fff;
  background: #fff;
  font-size: 1.5rem;
  padding: 30px 0 30px;
}
/* line 9, ../sass/footer.scss */
footer .iqbm-text h4 {
  color: #999999;
  font-size: 1.5rem;
}
/* line 13, ../sass/footer.scss */
footer .iqbm-text a {
  color: #999999;
}
/* line 15, ../sass/footer.scss */
footer .iqbm-text a:visited {
  color: #dbdbdb;
}
/* line 19, ../sass/footer.scss */
footer .iqbm-text ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
/* line 23, ../sass/footer.scss */
footer .iqbm-text ul li:before {
  content: "\f101";
  font-family: "FontAwesome";
  padding-right: 5px;
  color: #00829d;
}
/* line 31, ../sass/footer.scss */
footer a {
  color: #e95e27;
}
/* line 33, ../sass/footer.scss */
footer a:visited {
  color: #e95e27;
}
/* line 36, ../sass/footer.scss */
footer a:hover {
  color: #e95e27;
  text-decoration: none;
}
