/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Base colors */
/*************** FONT DEFINITIONS ***************/
/* Headings */
/* Content */
/* Margins &  paddings */
/*************** PATTERN SETTINGS ***************/
/* Slider */
/* Quote */
/* Social */
/* Tabs */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/* line 3, ../sass/layout.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/* line 7, ../sass/layout.scss */
.container-fluid .iq-row {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 14, ../sass/layout.scss */
.container-fluid .iq-row.fullwidth {
  max-width: none;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 19, ../sass/layout.scss */
.container-fluid .iq-row.fullwidth > .iq-column:first-of-type {
  padding-left: 0;
}
/* line 23, ../sass/layout.scss */
.container-fluid .iq-row.fullwidth > .iq-column:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
  /* line 29, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-small {
    max-width: none;
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 35, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-small > .iq-column {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 38, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-small > .iq-column > .iq-row.fullwidth-small {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 47, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-medium {
    max-width: none;
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 53, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-medium > .iq-column:first-of-type {
    padding-left: 0;
  }
  /* line 55, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-medium > .iq-column:first-of-type > .iq-row.fullwidth-medium {
    margin-left: 0;
  }
  /* line 60, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-medium > .iq-column:last-of-type {
    padding-right: 0;
  }
  /* line 62, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-medium > .iq-column:last-of-type > .iq-row.fullwidth-medium {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 69, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-large {
    max-width: none;
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 75, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-large > .iq-column:first-of-type {
    padding-left: 0;
  }
  /* line 77, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-large > .iq-column:first-of-type > .iq-row.fullwidth-large {
    margin-left: 0;
  }
  /* line 82, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-large > .iq-column:last-of-type {
    padding-right: 0;
  }
  /* line 84, ../sass/layout.scss */
  .container-fluid .iq-row.fullwidth-large > .iq-column:last-of-type > .iq-row.fullwidth-large {
    margin-right: 0;
  }
}
/* line 92, ../sass/layout.scss */
.container-fluid .iq-row.nogutter > .iq-column {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
  /* line 99, ../sass/layout.scss */
  .container-fluid .iq-row.nogutter-small > .iq-column {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 108, ../sass/layout.scss */
  .container-fluid .iq-row.nogutter-medium > .iq-column {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 117, ../sass/layout.scss */
  .container-fluid .iq-row.nogutter-large > .iq-column {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 125, ../sass/layout.scss */
.container-fluid .iq-row.hidden {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* line 129, ../sass/layout.scss */
  .container-fluid .iq-row.hidden-small {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 135, ../sass/layout.scss */
  .container-fluid .iq-row.hidden-medium {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 141, ../sass/layout.scss */
  .container-fluid .iq-row.hidden-large {
    display: none;
  }
}

/* line 153, ../sass/layout.scss */
.container-fluid[data-gjs-type="container"] .iq-row.hidden {
  display: flex;
  opacity: 0.2;
}
@media only screen and (max-width: 767px) {
  /* line 158, ../sass/layout.scss */
  .container-fluid[data-gjs-type="container"] .iq-row.hidden-small {
    display: flex;
    opacity: 0.2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 165, ../sass/layout.scss */
  .container-fluid[data-gjs-type="container"] .iq-row.hidden-medium {
    display: flex;
    opacity: 0.2;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 172, ../sass/layout.scss */
  .container-fluid[data-gjs-type="container"] .iq-row.hidden-large {
    display: flex;
    opacity: 0.2;
  }
}

/* line 182, ../sass/layout.scss */
.page-top-header {
  background-color: #1a1a1a;
}
/* line 184, ../sass/layout.scss */
.page-top-header .block-pagedesigner-part {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 189, ../sass/layout.scss */
.page-top-header .block-pagedesigner-part * {
  color: #eeeeee;
}

/* line 195, ../sass/layout.scss */
.page-header {
  background-color: #fff;
}
/* line 197, ../sass/layout.scss */
.page-header * {
  color: #999999;
}

/* line 205, ../sass/layout.scss */
.nav-main.nav-right > ul {
  justify-content: flex-end;
}
/* line 207, ../sass/layout.scss */
.nav-main.nav-right > ul > li {
  margin-right: 0;
  margin-left: 30px;
}
/* line 214, ../sass/layout.scss */
.nav-main > ul {
  flex-direction: row;
}
/* line 216, ../sass/layout.scss */
.nav-main > ul > li {
  margin-right: 30px;
  background-color: #fff;
}
/* line 219, ../sass/layout.scss */
.nav-main > ul > li a {
  color: #999999;
  text-decoration: none;
}
/* line 223, ../sass/layout.scss */
.nav-main > ul > li.active,
.nav-main > ul > li:active,
.nav-main > ul > li:hover {
  background-color: #fff;
}
/* line 227, ../sass/layout.scss */
.nav-main > ul > li.active a,
.nav-main > ul > li:active a,
.nav-main > ul > li:hover a {
  color: #1a1a1a;
  text-decoration: none;
}
/* line 235, ../sass/layout.scss */
.nav-main .dropdown-menu {
  padding: 0;
  border-radius: 1px;
}
/* line 239, ../sass/layout.scss */
.nav-main .dropdown-menu > li {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 243, ../sass/layout.scss */
.nav-main .dropdown-menu > li > a {
  color: #999999;
  text-decoration: none;
}
/* line 247, ../sass/layout.scss */
.nav-main .dropdown-menu > li.active,
.nav-main .dropdown-menu > li:active,
.nav-main .dropdown-menu > li:hover {
  background-color: #eeeeee;
}
/* line 251, ../sass/layout.scss */
.nav-main .dropdown-menu > li.active > a,
.nav-main .dropdown-menu > li:active > a,
.nav-main .dropdown-menu > li:hover > a {
  color: #666666;
  text-decoration: none;
}

/* line 264, ../sass/layout.scss */
.node--type-page #main[data-gjs-type] {
  background-color: #1a1a1a;
}
/* line 267, ../sass/layout.scss */
.node--type-page #main .node--unpublished {
  padding: 0;
}

/* line 273, ../sass/layout.scss */
.container-fluid .iq-row.nav-mobile-holder {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 15px 0 0;
  background-color: #fff;
  z-index: 10;
}

/* line 292, ../sass/layout.scss */
.container-fluid[data-gjs-type="container"] .iq-row.nav-mobile-holder[data-gjs-type] {
  position: relative;
  display: block;
}

/* line 302, ../sass/layout.scss */
.nav-sub.nav-right > ul {
  text-align: right;
}
/* line 304, ../sass/layout.scss */
.nav-sub.nav-right > ul .dropdown-item {
  text-align: right;
  font-weight: inherit;
}
/* line 313, ../sass/layout.scss */
.nav-sub .navbar-nav .dropdown-toggle::after {
  display: none;
}
/* line 317, ../sass/layout.scss */
.nav-sub .navbar-nav .dropdown-menu {
  position: relative !important;
  transform: none !important;
  display: block;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 327, ../sass/layout.scss */
.nav-sub .navbar-nav .dropdown-menu .dropdown-item:hover,
.nav-sub .navbar-nav .dropdown-menu .dropdown-item:focus,
.nav-sub .navbar-nav .dropdown-menu .dropdown-item:active,
.nav-sub .navbar-nav .dropdown-menu .dropdown-item.active {
  background: transparent;
  font-weight: inherit;
}
/* line 339, ../sass/layout.scss */
.nav-sub a {
  text-decoration: none;
  color: #999999;
}
/* line 342, ../sass/layout.scss */
.nav-sub a:hover {
  color: #eeeeee;
  text-decoration: none;
}

/* line 358, ../sass/layout.scss */
.nav-mobile .navbar-nav .dropdown-toggle::after {
  display: none;
}
/* line 362, ../sass/layout.scss */
.nav-mobile .navbar-nav .dropdown-menu {
  position: relative !important;
  transform: none !important;
  display: block;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 372, ../sass/layout.scss */
.nav-mobile .navbar-nav .dropdown-menu .dropdown-item:hover,
.nav-mobile .navbar-nav .dropdown-menu .dropdown-item:focus,
.nav-mobile .navbar-nav .dropdown-menu .dropdown-item:active,
.nav-mobile .navbar-nav .dropdown-menu .dropdown-item.active {
  background: transparent;
  font-weight: inherit;
}
/* line 385, ../sass/layout.scss */
.nav-mobile a {
  color: #999999;
  text-decoration: none;
}
/* line 388, ../sass/layout.scss */
.nav-mobile a:hover {
  color: #1a1a1a;
  text-decoration: none;
}

/* line 396, ../sass/layout.scss */
.page-node-52 .main-content {
  background-color: #1a1a1a;
}
/* line 398, ../sass/layout.scss */
.page-node-52 .main-content * {
  color: #eeeeee;
}

/* line 405, ../sass/layout.scss */
.page-node-53 .main-content {
  background-color: #fff;
}
/* line 407, ../sass/layout.scss */
.page-node-53 .main-content * {
  color: #999999;
}

/* line 414, ../sass/layout.scss */
.page-node-35 .main-content {
  background-color: #fff;
}
/* line 416, ../sass/layout.scss */
.page-node-35 .main-content * {
  color: #999999;
}

/* line 423, ../sass/layout.scss */
.col {
  min-height: 0;
}

/* line 430, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
/* line 438, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
/* line 444, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
/* line 450, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
/* line 456, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
/* line 462, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
/* line 468, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
/* line 474, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
/* line 480, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
/* line 486, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
/* line 492, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
/* line 498, ../sass/layout.scss */
.mobile-keep-cols .col-xs-12.col-md-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

/* line 510, ../sass/layout.scss */
body.scroll-lock {
  overflow: hidden;
}
