/* Header navigation (navigation-header.sass) */
/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Base colors */
/*************** FONT DEFINITIONS ***************/
/* Headings */
/* Content */
/* Margins &  paddings */
/*************** PATTERN SETTINGS ***************/
/* Slider */
/* Quote */
/* Social */
/* Tabs */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/* line 4, ../sass/navigation-header.scss */
nav.navbar {
  padding: 0 30px;
  background-color: #fff;
}
/* line 7, ../sass/navigation-header.scss */
nav.navbar * {
  color: #999999;
}
/* line 10, ../sass/navigation-header.scss */
nav.navbar .dropdown-menu {
  border-radius: 1px;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: #fff;
}
/* line 16, ../sass/navigation-header.scss */
nav.navbar .dropdown-menu * {
  color: #999999;
}
/* line 20, ../sass/navigation-header.scss */
nav.navbar .dropdown-menu .dropdown-item:focus, nav.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #eeeeee;
}
/* line 22, ../sass/navigation-header.scss */
nav.navbar .dropdown-menu .dropdown-item:focus *, nav.navbar .dropdown-menu .dropdown-item:hover * {
  color: #666666;
}
/* line 29, ../sass/navigation-header.scss */
nav.navbar .navbar-toggler {
  position: absolute;
  right: 0;
  top: 15px;
}
/* line 33, ../sass/navigation-header.scss */
nav.navbar .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* line 37, ../sass/navigation-header.scss */
nav.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath fill='%23fff' d='M294.77,254.71L477.35,72.13c9.62-9.61,0-19.22,0-19.22l-19.22-19.22c-9.61-9.61-19.22,0-19.22,0L256.34,216.27 L73.76,33.69c0,0-9.61-9.61-19.22,0L35.33,52.91c0,0-9.62,9.61,0,19.22L217.9,254.71L35.33,437.29c-9.62,9.62,0,19.23,0,19.23 l19.22,19.22c9.61,9.61,19.22,0,19.22,0l182.58-182.59l182.58,182.59c0,0,9.61,9.61,19.22,0l19.22-19.22c0,0,9.62-9.61,0-19.23 L294.77,254.71z'/%3E%3C/svg%3E");
  background-size: 75%;
}
