<<<<<<< HEAD
=======
/* Footer navigation */
/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Simple grey scale */
/* Base colors */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/*************** FONT DEFINITIONS ***************/
/* Global settings */
/* Headings */
/* Content */
/* Margins &  paddings */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
/* line 4, ../sass/navigation-footer.scss */
.menu--footer ul.menu {
  margin: 0;
}
/* line 7, ../sass/navigation-footer.scss */
.menu--footer a {
  color: #fff;
}
/* line 10, ../sass/navigation-footer.scss */
.menu--footer .menu-item {
  font-size: 0.75rem;
  list-style: none;
  margin-right: 10px;
  display: inline-block;
}
/* line 15, ../sass/navigation-footer.scss */
.menu--footer .menu-item a.is-active {
  color: #fff;
}
>>>>>>> f443772e12348ba82967bd064a9859eb6ec1a972
