/**
 * @file
 * Subtheme specific CSS.
 */
/*************** BASE DEFINITIONS ***************/
/*************** COLOR DEFINITIONS ***************/
/* Simple grey scale */
/* Base colors */
/* Content text colors */
/* Elements colors normal state (e.g. button) */
/* Elements colors hover state (e.g. button) */
/* Elements colors active state (e.g. button) */
/*************** FONT DEFINITIONS ***************/
/* Global settings */
/* Headings */
/* Content */
/* Margins &  paddings */
/* Title margins */
/*************** BORDER DEFINITIONS ***************/
/*************** OTHER DEFINITIONS ***************/
/* Legacy variables */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 9, ../sass/style.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 15, ../sass/style.scss */
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #e95e27;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* line 25, ../sass/style.scss */
h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #009c82;
  margin-top: 0px;
  margin-bottom: 24px;
}

/* line 35, ../sass/style.scss */
h3 {
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  color: #9c360d;
  margin-top: 0px;
  margin-bottom: 26px;
}

/* line 45, ../sass/style.scss */
h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #27e9c9;
  margin-top: 0px;
  margin-bottom: 12px;
}

/* line 55, ../sass/style.scss */
h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  margin-top: 0px;
  margin-bottom: 6px;
}

/* line 65, ../sass/style.scss */
h6 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-top: 30px;
  margin-bottom: 6px;
}

/* line 75, ../sass/style.scss */
p {
  color: #999999;
}

/* line 79, ../sass/style.scss */
#navbar-main {
  max-height: none;
  padding: .5rem 0rem;
}

/* line 84, ../sass/style.scss */
#navbar-main .row {
  max-width: none;
}

/* line 88, ../sass/style.scss */
#navbar-main .col {
  padding: 0;
}

/* line 93, ../sass/style.scss */
.navbar {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

/* line 99, ../sass/style.scss */
.navbar > .c.navbar-dark .navbar-nav .nav-linkontainer,
.navbar > .container-fluid {
  display: block;
}

/* line 104, ../sass/style.scss */
#navbar-top {
  background: #eeeeee;
  color: #999999;
  max-height: 40px;
}
@media only screen and (max-width: 768px) {
  /* line 104, ../sass/style.scss */
  #navbar-top {
    display: none;
  }
}

/* line 116, ../sass/style.scss */
#CollapsingNavbar {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -4px 0px 0px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -4px 0px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -4px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06), inset 0px -4px 0px 0px rgba(0, 0, 0, 0.03);
}

/* line 124, ../sass/style.scss */
.region-header {
  margin: 10px 0 20px;
}

/* line 129, ../sass/style.scss */
.dropdown-toggle + .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  background: #fff !important;
}
/* line 133, ../sass/style.scss */
.dropdown-toggle + .dropdown-menu .dropdown-item {
  background: #fff !important;
}

@media only screen and (min-width: 992px) {
  /* line 138, ../sass/style.scss */
  .dropdown-toggle:hover + .dropdown-menu,
  .dropdown-toggle + .dropdown-menu:hover {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  /* line 145, ../sass/style.scss */
  .dropdown-toggle.active + .dropdown-menu {
    display: block;
  }
}

/* line 151, ../sass/style.scss */
.navbar-dark .navbar-toggler {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 157, ../sass/style.scss */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* line 161, ../sass/style.scss */
.main-content,
.region-content {
  padding-left: 0;
  padding-right: 0;
}

/* line 167, ../sass/style.scss */
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  justify-content: flex-end;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 768px) {
  /* line 167, ../sass/style.scss */
  .breadcrumb {
    justify-content: flex-start;
    padding: 0;
  }
}
