// This file contains custom variables used throughout the code

// Breakpoints
$breakpoint-xxxs: 320px;
$breakpoint-xxs: 425px;
$breakpoint-xs: 576px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1560px;

// Row width
$row-width: 1440px;