@import '../../../resources/sass/definitions';
.iq-video{
  &[data-align="left"]{
    margin-left: 0;
    margin-right: auto;
  }
  &[data-align="center"]{
    margin-left: auto;
    margin-right: auto;
  }
  &[data-align="right"]{
    margin-left: auto;
    margin-right: 0;
  }

  video {
    width: 100%;
    height: auto;
  }
}

[data-gjs-type="container"]{
  .iq-video{
    &[alignment="left"]{
      margin-left: 0;
      margin-right: auto;
    }
    &[alignment="center"]{
      margin-left: auto;
      margin-right: auto;
    }
    &[alignment="right"]{
      margin-left: auto;
      margin-right: 0;
    }
  }
}
